<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <div class="logo">
            <a href="#">
                <img src="assets/images/logo.jpg" alt="Jk Infotech" class="img-responsive">
            </a>
        </div>
       <app-sidebar></app-sidebar>
    </aside>
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section-content section-content-p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <app-search></app-search>
                        <app-login></app-login>
                        <div class="cart-area">
                            <a routerLink="/cart">
                              <div class="total">
                                {{ cartTotal | currency :'INR'}} <span>{{ cartQuantity }}</span>
                              </div>
                              <i class="fa fa-shopping-cart"></i>
                            </a>
                          </div>
                    </div>
                    <div class="account-wrap"></div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->
        <!-- MAIN CONTENT-->
        <router-outlet></router-outlet>
    </div>
    <footer>
        <ul>
            <li><a href="https://www.instagram.com/javedkhan_96">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </footer>